// colors
$primary-color: #6E899A;
$bg-color: #fafafa;
$white: #fff;
// borders
$separator: 1px solid #ddd;
$border-editor: 1px solid #ddd;
// shadows
$post-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
//transitions
$default-transition: .2s all;